In [2]:
api_key = "your key"

from fredapi import Fred
fred = Fred(api_key = api_key)

df = fred.get_series_all_releases('GDP')
df.head()

  realtime_start       date  value
0     1992-12-22 1946-01-01  199.7
1     1996-01-19 1946-01-01    NaT
2     1997-05-07 1946-01-01  210.4
3     1999-10-28 1946-01-01    NaT
4     1992-12-22 1946-04-01  207.7